@page
@model _4DLogicRLM.Areas.Identity.Pages.Account.RegisterCompanyModel
@{
    ViewData["Title"] = "Register Company";
}
<div class="row">
    <div class="col-md-4">
        <h4>Register Company</h4>
        Before we can continue we need a little more information. 
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

        </form>
    </div>
</div>