@model _4DLogicRLM.Models.ResourceQuantityType

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ResourceQuantityType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResourceQuantityTypeID" />
            <div class="form-group">
                <label asp-for="ResournceQuantityTypeName" class="control-label"></label>
                <input asp-for="ResournceQuantityTypeName" class="form-control" />
                <span asp-validation-for="ResournceQuantityTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResournceQuantityTypeDescription" class="control-label"></label>
                <input asp-for="ResournceQuantityTypeDescription" class="form-control" />
                <span asp-validation-for="ResournceQuantityTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceQuantityTypeShortName" class="control-label"></label>
                <input asp-for="ResourceQuantityTypeShortName" class="form-control" />
                <span asp-validation-for="ResourceQuantityTypeShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

