@model _4DLogicRLM.Models.Province

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Province</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label">Country</label>
                <select asp-for="CountryID" class="form-control" asp-items="ViewBag.Countries"></select>
                <span asp-validation-for="CountryID" class="text-danger">*Required</span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceName" class="control-label"></label>
                <input asp-for="ProvinceName" class="form-control" />
                <span asp-validation-for="ProvinceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceShortName" class="control-label"></label>
                <input asp-for="ProvinceShortName" class="form-control" />
                <span asp-validation-for="ProvinceShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KMLFile" class="control-label"></label>
                <input asp-for="KMLFile" class="form-control" />
                <span asp-validation-for="KMLFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

